<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .header {
        text-align: center;
        height: 150px;
        background-color: lightseagreen;
    }
    .body {
        background-color: white;
    }
</style>
<body>

<div class="container">
    <div class="header">
        <h1>oEmbed Test</h1>
        <input type="url" id="url" name="url">
        <button id="search">확인</button>
    </div>
    <div class="body">
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div><!-- /container -->

</body>
</html>