<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Oembed Test Site</title>
</head>
<link rel="stylesheet" href="css/home.css" type="text/css" />
<script type="text/javascript" src="js/home.js" ></script>
<body>
<div class="container">
    <div id="header">
        <div id="title">oEmbed Test</div>

        <div id="input_box">
            <input type="text" placeholder="url을 입력해주세요" id="url" onkeyup="enter(event)"/>
            <input type="button" value="확인" onclick="requestUrl()" />
        </div>
    </div>
    <div id="content">
        <div id="content_wrap">
            <div id="title_container"></div>
            <ul id="data_in_container"></ul>
        </div>
    </div>
</div>

<!-- /container -->
</body>
</html>